* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: cyan;
}

a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-weight: 800;
}

section {
    display: flex;
    flex-direction: row;
}

.headerstuff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hero {
    background-color: red;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teaser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.teaserButton {
    height: 3rem;
    width: 8rem;
    border-radius: 0.3rem;
    border: none;
    background-color: cyan;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
}

.infotext {
    margin: 1rem;
}

.elkhead {
    display: flex;
    align-items: center;
    justify-content: center;
}

.elklogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.wood {
    height: 100vh;
    width: 100vw;
}

.links {
    text-transform: uppercase;
    margin: 2rem;
}

.logodiv {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 2rem;
}

.footerlogo {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
}

.footerstuff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cesoirlogo {
    height: 3rem;
    width: 10rem;
}

.pinkline {
    height: .5rem;
    width: 3rem;
    background-color: #F04A80;
    margin-top: .5rem;
}

.arrowdown {
    color: #F04A80;
    height: 3rem;
    width: 3rem;
    display: block;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;

}

.eggimg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.socialicons {
    height: 2rem;
    width: 7rem;
    margin-top: 6rem;
}

.icons {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
}

.cardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    height: 20rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card:hover {
    border-radius: 0.3rem;
    border: 1px rgb(214, 207, 207) solid;
    background-color: rgb(252, 252, 249);
}

.image {
    height: 6rem;
    width: 6rem;
    margin-bottom: 2rem;

}

.buyButton {
    height: 2rem;
    width: 5rem;
    border-radius: 0.3rem;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
    background-color: cyan;
    font-weight: 800;
}

.margin {
    margin: 0.5rem;
}

@media screen and (max-width: 640px) {
    .elkhead {
        display: none;
    }

    .arrowdown {
        display: none;
    }

    .links {
        display: none;
    }

    .headerstuff {
        align-items: center;
        justify-content: center;
    }

    .logodiv {
        margin: 50%;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }

    .sectionreverse {
        display: flex;
        flex-direction: column;
    }

    .content {
        margin-top: 2rem;
    }

    .footerstuff {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerlogo {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 24rem;

    }
}